<div id="app" style="width: 100%">
  <span>區塊一：</span>
  <select class="section" v-model="select1_1">
    <option value="none" selected>請選擇</option>
    <option v-for="category in categories" :value="category.name">
      {{ category.name }}
    </option>
  </select>
  <select class="section" v-if="select1_1 != 'none'" v-model="select1_2">
    <option value="none" selected>請選擇</option>
    <option
      v-for="category in categories.filter(i=> i.name === select1_1)[0].sub"
      :value="category"
    >
      {{ category }}
    </option>
  </select>
  <select class="section" v-if="select1_2 != 'none'" v-model="select1_3">
    <option value="none" selected>請選擇</option>
    <option
      v-for="info in list.filter(i=> i.category.includes(select1_2))"
      :value="info.name"
    >
      {{ info.name }}
    </option>
  </select>
  <hr />
  <span>區塊二：</span>
  <select class="section" v-model="select2_1">
    <option value="none" selected>請選擇</option>
    <option v-for="category in categories" :value="category.name">
      {{ category.name }}
    </option>
  </select>
  <select class="section" v-if="select2_1 != 'none'" v-model="select2_2">
    <option value="none" selected>請選擇</option>
    <option
      v-for="category in categories.filter(i=> i.name === select2_1)[0].sub"
      :value="category"
    >
      {{ category }}
    </option>
  </select>
  <select class="section" v-if="select2_2 != 'none'" v-model="select2_3">
    <option value="none" selected>請選擇</option>
    <option
      v-for="info in list.filter(i=> i.category.includes(select2_2))"
      :value="info.name"
    >
      {{ info.name }}
    </option>
  </select>
  <hr />
  <h3>目前選擇</h3>
  <p>區塊一：{{select1_3 != 'none' ? select1_3 : '隨機'}}</p>
  <p>區塊二：{{select2_3 != 'none' ? select2_3 : '隨機'}}</p>

  <div class="svg-wrapper" v-html="svgData"></div>
</div>
<style>
  select.section {
    color: white;
    background-color: #eea9a9;
    border: 0;
    border-radius: 6px;
    padding: 0.5em;
    margin-right: 5px;
  }
</style>
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        select1_1: "none",
        select1_2: "none",
        select1_3: "none",
        select2_1: "none",
        select2_2: "none",
        select2_3: "none",
        categories: [],
        list: [],
        svgData: "",
      };
    },
    watch: {
      select1_1: {
        handler() {
          this.select1_2 = "none";
          this.select1_3 = "none";
        },
      },
      select1_2: {
        handler() {
          this.select1_3 = "none";
        },
      },
      select1_3: {
        handler(newValue) {
          this.fill(newValue, "section_1");
        },
      },
      select2_1: {
        handler() {
          this.select2_2 = "none";
          this.select2_3 = "none";
        },
      },
      select2_2: {
        handler() {
          this.select2_3 = "none";
        },
      },
      select2_3: {
        handler(newValue) {
          this.fill(newValue, "section_2");
        },
      },
    },
    async mounted() {
      await fetch(
        "https://raw.githubusercontent.com/Dylan0203/meowcraft-fabric-select/main/svgs/01.svg",
        { cache: "no-store" }
      )
        .then((response) => response.text())
        .then((data) => (this.svgData = data));

      await fetch(
        "https://raw.githubusercontent.com/Dylan0203/meowcraft-fabric-select/main/fabric-list.json",
        { cache: "no-store" }
      )
        .then((response) => response.json())
        .then((data) => (this.list = data));

      await fetch(
        "https://raw.githubusercontent.com/Dylan0203/meowcraft-fabric-select/main/categories.json",
        { cache: "no-store" }
      )
        .then((response) => response.json())
        .then((data) => (this.categories = data));
    },
    methods: {
      fill(code, target) {
        const defs = document.getElementById("defs");
        const info = this.list.filter((i) => i.name === code)[0];

        if (info && !document.getElementById(info.name)) {
          defs.innerHTML += `<pattern id="${info.name}" width="100%" height="100%">
                              <image xlink:href="${info.url}" x="0" y="0" width="100%" height="100%"/>
                            </pattern>`;
        }
        const tgs = document.getElementsByClassName(target);
        const result = code === "none" ? "none" : `url(#${code})`;
        Array.from(tgs).forEach((tg) => tg.setAttribute("fill", result));
      },
    },
  }).mount("#app");
</script>
